.displayText {
  margin: 25px 25% 0 33%;
  color: #ffffff;
  background-color: #666669;
  border: 1px solid #c5c5c6;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  min-height: 40%;
  min-width: 60%;
  white-space: pre-line;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  cursor: default;
  padding: 15px;
}

.displayText.show {
  animation: fadeIn 5s ease-in-out; 
  opacity: 1;
}

.displayText:hover{
  transition: all 1.5s ease;
  border-color: #d8d8d8;
  background-color: #9a9a9a;
  transform: scale(1.02);
}

.hide {
  display: none;
  opacity: 0;
}


h1{
  text-align: center;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}

.sobre {
  padding: 5px;
  text-align: left;
  color: #ffffff;
}

.habilidades {
  padding: 20px;
  text-align: center;
  color: rgb(225, 225, 225);
}


.projetos-container{
  padding: 10px
}

.projetos{
  justify-content: end;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(125, 125, 125);
  font-weight: 2px;
}

.projetos:hover{
  transition: all 1.5s ease;
  transform: scale(1.5);
  color:rgb(251, 251, 251);
}

.contato{
  font-size: 15px;
  padding: 0px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bolder;
}

.icone-container{
  max-width: auto;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.icones{
  padding: 5px;
  font-size: 40px;
  color: rgb(190, 190, 190);
}

.icones:hover{
  transition: all 2s ease;
  transform: scale(1.3);
  color: white;
}

footer {
  opacity: 0;
  animation: fade-in 2s ease-out forwards;
  position: fixed;
  width: 95%;
  margin-left: 1%;
  border-top: 2px solid rgb(207, 207, 207);
  padding: 15px;
  bottom: 0;
  color: white;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 570px) {

  .displayText {
    margin: 12% 4% 0 4%;
    font-size: 11px;
  }

  h1{
    font-size: 19px;
  }
  
  .projetos{
    font-size: 20px;
  }

  .foto {
    justify-content: center;
    margin:auto;
    max-width: auto;
    min-height: auto;
  }

  .contato {
    font-size: 10px;
  }

  footer{
    width: 90%;
  }
}

@media screen and (min-width: 571px) and (max-width: 1135px) {
  
  .displayText {
    margin-top: 14px;
    font-size: 12px;
   
  }
}

